
@{
    ViewBag.Title = "addCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderCss{
    <link href="~/Content/css/Shared/_Layout.css" rel="stylesheet" />
    <link href="~/Content/css/Home/Customers/addCustomer/addCustomer.css" rel="stylesheet" />
}

<section>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Customer")">Müşteriler</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Müşteri Ekle</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="javascript:;" onclick="customerEkle()" class="btn btn-success">Kaydet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="mb-0" style="">Müşteri Ekle</h2>
                            </div>
                        </div>
                    </div>
                    <!-- end: Card header -->
                    <!-- card body -->
                    <div class="card-body">
                        <form>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Ad ve Soyad</label>
                                            <input type="text" id="input-adSoyad" class="form-control" placeholder="Ad Ve Soyad  *">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Mail</label>
                                            <input type="text" id="input-mail" class="form-control" placeholder="Mail Giriniz  *">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Telefon</label>
                                            <input type="text" id="input-telefon" class="form-control" placeholder="Telefon Numarası Giriniz  *">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Cep Telefon</label>
                                            <input type="text" id="input-ceptel" class="form-control" placeholder="Cep Telefonu Giriniz  *">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Adres</label>
                                            <textarea rows="6" class="form-control" id="input-adres" placeholder="Adres Bilgileri Giriniz ..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end: card body -->
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section CreateCustomer{
    <script>
        function customerEkle() {
            data = {
                Musteri_AdSoyad: $('#input-adSoyad').val(),
                Musteri_CepTelefon:$('#input-ceptel').val(),
                Musteri_Telefon: $('#input-telefon').val(),
                Musteri_Mail: $('#input-mail').val(),
                Musteri_Adres: $('#input-adres').val(),
            }
            $.ajax({
                url: '/Customer/Create/',
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (data) {
                        toastr.success('Başarıyla oluşturuldu! Yönlendiriliyorsunuz');
                        setTimeout(function () {
                            window.location = "/Customer"
                        }, 250)
                },
                error: function (hata, ajaxOptions, thrownError) {
                    alert(hata.status);
                    alert(thrownError);
                    alert(hata.responseText);
                }
            });
        }

    </script>
}