
@{
    ViewBag.Title = "addInvoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderCss{
    <link href="~/Content/css/Shared/_Layout.css" rel="stylesheet" />
    <link href="~/Content/css/Home/invoices/addInvoices/addInvoices.css" rel="stylesheet" />
}

<section>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Invocies")">Faturalar</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Fatura Ekle</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="javascript:;" onclick="FaturaEkle()" class="btn btn-sm btn-neutral">Kaydet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="mb-0" style="">Fatura Ekle</h2>
                            </div>
                        </div>
                    </div>
                    <!-- end: Card header -->
                    <!-- card body -->
                    <div class="card-body">
                        <form>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Fatura Tarihi</label>
                                            <input class="form-control" type="datetime-local" value="" id="input-tarih">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Fatura Tutarı</label>
                                            <input type="email" id="input-tutar" class="form-control" placeholder="Fatura tutarı girinz  *" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Barkod</label>
                                            <input  type="text" class="form-control" placeholder="Barkod ..." id="input-barkod">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Açıklama</label>
                                            <input type="text" class="form-control" placeholder="Adres Bilgileri Giriniz ..." id="input-aciklama">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end: card body -->
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section CreateFatura{
    <script>
        function FaturaEkle() {
            data = {
                IslemTur_Id: 2,
                OdemeSekli_Id: 1,
                AracIslem_Id: 1,
                Fatura_Tarih: $('#input-tarih').val(),
                Fatura_Tutar: $('#input-tutar').val(),
                Stok_Barkod: $('#input-barkod').val(),
                Fatura_Aciklama: $('#input-aciklama').val(),
            }
            $.ajax({
                url: '/Invocies/Create/',
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.Fatura_Id > 0) {
                        toastr.success('Başarıyla oluşturuldu! Yönlendiriliyorsunuz');
                        //buraya yönlendirme koyulacak
                    }
                },
                error: function (hata, ajaxOptions, thrownError) {
                    alert(hata.status);
                    alert(thrownError);
                    alert(hata.responseText);
                }
            });
        }

    </script>
}